<div class="error-page-wrapper">
    <div class="error-page-content-container">
        {{> _h1styled headerTitle=headerTitle}}
        <p class="mt-4">Please contact your administrator</p> 
    </div>
</div>
