<div>
    <h4>Sanam</h4>
    <ul>
        <li><a href="/createaccount">Create Account Page [DONE]</a></li>
        <li><a href="/roomdetails">Room Details Page [done - minor/less adjustments needed]</a></li>
        <li><a href="/userdashboard">Guest User Dashboard [partial - review css]</a></li>
        <li><a href="/updatepassword">Guest Update Password [partial - review css]]</a></li>
        <li><a href="/guestrooms">Guest Rooms Page []</a></li>
    </ul>

    <h4>Nischal</h4>
    <ul>
        <li>Header & Footer [done - minor/less adjustments needed ]</li>
        <li><a href="/home">Landings Page [pending]</a></li>
        <li><a href="/reservations">Guest Confirmed Reservations Page [pending]</a></li>
        <li><a href="/loyalty">Guest Loyalty History Page [pending]</a></li>
        <li><a href="/editaccount">Guest Edit Account Page [pending]</a></li>
    </ul>

    <h4>Taslima</h4>
    <ul>
        <li><a href="/about">About Us [done - minor adjustments]</a></li>
        <li><a href="/contactUs">Contact Us [done - minor adjustments]</a></li>
        <li><a href="/update-email">Update Email [done - minor adjustments]</a></li>
        <li><a href="/view-inquiries">View Inquiries [done - minor adjustments]</a></li>
    </ul>

    <h4>Marvie</h4>
    <ul>
        <li><a href="/restaurant">Restaurant Page</a></li>
        <li>Other pages</li>
        <li><a href="/verifyaccount">Verify Acc Via Create Acc</a></li>
        <li>Hotel Staff pages</li>
        <li><a href="/portal">Employee Online Portal</a></li>
        <li><a href="/dashboard/staff/65dfe87201b6131436544414">Hotel Staff Account Page</a></li>
        <li><a href="/dashboard/staff/viewReservations">Hotel Staff View Reservations</a></li>
        <li><a href="/checkout/createaccount">Create Account via Checkout</a></li>
        <li><a href="/checkout/verifyaccount">Verify Account via Checkout</a></li>
    </ul>
</div>