<div>
    <h4>Sanam</h4>
    <ul>
        <li><a href="/createaccount">Create Account Page [done - (payment sidebar partial hbs needed)]</a></li>
        <li><a href="/roomdetails">Room Details Page [done - minor/less adjustments needed]</a></li>
        <li><a href="/userdashboard">Guest User Dashboard [partial - review css]</a></li>
        <li><a href="/updatepassword">Guest Update Password [partial - review css]]</a></li>
        <li><a href="/guestrooms">Guest Rooms Page []</a></li>
    </ul>

    <h4>Nischal</h4>
    <ul>
        <li>Header & Footer [done - minor/less adjustments needed ]</li>
        <li><a href="/home">Landings Page [pending]</a></li>
        <li><a href="/reservations">Guest Confirmed Reservations Page [pending]</a></li>
        <li><a href="/loyalty">Guest Loyalty History Page [pending]</a></li>
        <li><a href="/editaccount">Guest Edit Account Page [pending]</a></li>
    </ul>

    <h4>Taslima</h4>
    <ul>
        <li><a href=""></a></li>
    </ul>

    <h4>Marvie</h4>
    <ul>
        <li><a href=""></a></li>
    </ul>
</div>