<div>
    <h4>Sanam</h4>
    <ul>
        <li>[DONE, TESTED & REVIEWED]<a href="/createaccount"> Create Account Page</a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/roomdetails">Room Details Page [done - minor/less adjustments needed]</a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/userdashboard">Guest User Dashboard [partial - review css]</a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/updatepassword">Guest Update Password [partial - review css]]</a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/guestrooms">Guest Rooms Page []</a></li>
    </ul>

    <h4>Nischal</h4>
    <ul>
        <li><span style="color:green">[TO REVIEW & TEST]</span> Header & Footer [done - minor/less adjustments needed ]</li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/home"> Landings Page </a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/reservations"> Guest Confirmed Reservations Page</a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/loyaltyhistory"> Guest Loyalty History Page </a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/editaccount"> Guest Edit Account Page </a></li>
    </ul>

    <h4>Taslima</h4>
    <ul>
        <li>[DONE, TESTED & REVIEWED]<a href="/about"> About Us [minor adjustments]</a></li>
        <li>[DONE, TESTED & REVIEWED]<a href="/contactUs">Contact Us [minor adjustments]</a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/update-email">Update Email [done - minor adjustments]</a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/view-inquiries">View Inquiries [done - minor adjustments]</a></li>
        <li><span style="color:green">[TO REVIEW & TEST]</span><a href="/roomOffers">Room Results [done - needs uploading]</a></li>
    </ul>

    <h4>Marvie</h4>
    <ul>
        <div style="display:none">
            <li>Reassigned to me pages</li>
            <li><a href=""> (Static) Landing Page</a></li>
            <li><a href=""> Guest Confirmed Reservations</a></li>
            <li><a href=""> Guest Loyalty History</a></li>
            <li><a href=""> Guest Edit Account</a></li>
        </div>
        <li>Static pages</li>
        <li><span style="color:orange">[InProgress]</span><a href="/restaurant">Restaurant Page</a></li>
        <li><span style="color:orange">[InProgress]</span><a href="/faqsPolicies">Hotel Faqs & Policies</a></li>
        <li>Other pages</li>
        <li><span style="color:red">[pending]</span><a href="">Forgot Password</a></li>
        <li><span style="color:red">[pending]</span><a href="">Forgot Password Verify</a></li>
        <li>[DONE, TESTED & REVIEWED]<a href="/verifyaccount"> Verify Acc Via Create Acc </a></li>
        <li>[DONE, TESTED & REVIEWED]<a href="/checkout/createaccount"> Create Account via Checkout</a></li>
        <li>[DONE, TESTED & REVIEWED]<a href="/checkout/verifyaccount"> Verify Account via Checkout</a></li>
        <li><span style="color:orange">[DONE(html layout), PENDING(css,javascript)]</span><a href="/reservationinfo/:id"> Checkout Reservation Details</a></li>
        <li><span style="color:orange">[DONE(html layout), PENDING(css,javascript)]</span><a href="/reservationinfo/adssadsa"> User Reservation Details</a></li>
        <li>Hotel Staff pages</li>
        <li>[DONE, TESTED & REVIEWED]<a href="/portal"> Employee Online Portal</a></li>
        <li>[DONE, TESTED & REVIEWED]<a href="/dashboard/staff/65dfe87201b6131436544414"> Hotel Staff Account Page</a></li>
        <li><span style="color:red">[pending]</span><a href="/dashboard/staff/reservation">Hotel Staff View Single Reservation</a></li>
        <li><span style="color:orange">[DONE(html layout), PENDING(css,javascript popup)]</span><a href="/dashboard/staff/viewReservations">Hotel Staff View Reservations List</a></li>
        <li><span style="color:orange">[DONE(html layout), PENDING(css,javascript popup)]</span><a href="/dashboard/staff/checkin"> Hotel Staff View Guests Checking In</a></li>
        <li><span style="color:red">[pending]</span><a href="/dashboard/staff/inquiries"> Hotel Staff Inquiries Page</a></li>
        <li><span style="color:red">[pending]</span><a href="/checkout/staff/create"> Hotel Staff Create Reservations Page</a></li>
        <li><span style="color:orange">[DONE(html layout), PENDING(css,javascript popup)]</span><a href="/dashboard/manager/offers"> Manager View List Offers Page (Buttons: Add, Edit, Delete)</a></li>
        <li><span style="color:orange">[DONE(html layout), PENDING(css,javascript popup)]</span><a href="/dashboard/manager/promotions"> Manager View List Promotions Page (Buttons: Add, Edit, Delete)</a></li>
        <li><span style="color:orange">[DONE(html layout), PENDING(css,javascript popup)]</span><a href="/dashboard/manager/rooms"> Manager View List Rooms Page (Buttons: Add, Edit, Delete)</a></li>
        <li><span style="color:orange">[DONE(html layout), PENDING(css,javascript popup)]</span><a href="/dashboard/USNVMQD493/users"> Admin View List User Accounts Page (Buttons: Add, Edit, Delete, manage permissions)</a></li>
        <div style="display:none">
            <li><a href="/dashboard/manager"> Manager Dashboard Page</a></li>
            <li><a href=""> Manager View/Edit Single Offer Page</a></li>
            <li><a href=""> Manager View/Edit Single Offer Promotion Page</a></li>
            <li><a href=""> Manager View/Edit Single Offer Room Page</a></li>
            <li><a href=""> Manager Generate Report Page</a></li>
            <li><a href="/dashboard/USNVMQD493/ssdas"> Admin Dashboard Page</a></li>
            <li><a href=""> Admin View/Edit User Account Accounts Page</a></li>
            <li><a href=""> Admin Manage Permissions Accounts Page</a></li>
        </div>
    </ul>
</div>