<div class="container">
        <div class="gallery">
            <figure class="gallery__item gallery__item--1">
                <a target="_blank" href="room1.jpg">
                    <img src="/assets/images/room1.jpg" alt="Gallery image 1" class="gallery__img"></a>
            </figure>
            <figure class="gallery__item gallery__item--2">
                <a target="_blank" href="room1.jpg">
                    <img src="/assets/images/room2.jpg" alt="Gallery image 2" class="gallery__img"></a>
            </figure>
            <figure class="gallery__item gallery__item--3">
                <a target="_blank" href="room1.jpg">
                    <img src="/assets/images/room3.jpg" alt="Gallery image 3" class="gallery__img"></a>
            </figure>
            <figure class="gallery__item gallery__item--4">
                <a target="_blank" href="room1.jpg">
                    <img src="/assets/images/room4.jpg" alt="Gallery image 4" class="gallery__img"></a>
            </figure>
            <figure class="gallery__item gallery__item--5">
                <a target="_blank" href="room1.jpg">
                    <img src="/assets/images/room5.jpg" alt="Gallery image 5" class="gallery__img"></a>
            </figure>
        </div>
        <div class="row mt-5">
            <div class="col-md-9">
                <div class="card mb-3" style="">
                    <div class="container ps-5 pt-4">
                        <h1>Deluxe Room</h1>
                        <p><strong>Breakfast Included</strong></p>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col align-self-start">
                                    <div class="room">
                                        <span class="material-symbols-outlined">
                                            bedroom_child
                                        </span>
                                        <p> 1 Bedroom</p>
                                    </div>
                                </div>
                                <div class="col align-self-center">
                                    <div class="room">
                                        <span class="material-symbols-outlined">
                                            bathtub
                                        </span>
                                        <p> 1 Bedroom
                                        </p>
                                    </div>
                                </div>
                                <div class="col align-self-end">
                                    <div class="room">
                                        <span class="material-symbols-outlined">
                                            soup_kitchen
                                        </span>
                                        <p> 1 Bedroom
                                        </p>
                                    </div>
                                </div>
                                <div class="col align-self-end">
                                    <div class="room">
                                        <span class="material-symbols-outlined">
                                            kitchen
                                        </span>
                                        <p> 1 Bedroom
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h2>Description</h2>
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="mt-5 amenities">
                            <h2 class="text-warning-emphasis">
                                Offered Amenities</h2>
                            <ul class="row">
                                <li class="col-md-6">
                                    <span class="material-symbols-outlined">
                                        kitchen
                                    </span>
                                    Mini Fridge
                                </li>
                                <li class="col-md-6">
                                    <span class="material-symbols-outlined">
                                        ac_unit
                                    </span>Air Conditioner
                                </li>
                                <li class="col-md-6">
                                    <span class="material-symbols-outlined">
                                        local_laundry_service
                                    </span>Washer
                                </li>
                                <li class="col-md-6"><span class="material-symbols-outlined">
                                        tv
                                    </span>Television</li>
                                <li class="col-md-6">
                                    <span class="material-symbols-outlined">
                                        wifi
                                    </span>
                                    Free wireless Internet
                                </li>
                                <li class="col-md-6">
                                    <span class="material-symbols-outlined">
                                        deck
                                    </span>Balcony or Patio
                                </li>

                            </ul>

                        </div>
                        <div class="mt-5 amenities">
                            <h2>Safety and Hygiene</h2>
                            <ul class="row">
                                <li class="col-md-6"><span class="material-symbols-outlined">
                                        cleaning_services
                                    </span>Daily Cleaning</li>
                                <li class="col-md-6"><span class="material-symbols-outlined">
                                        fire_extinguisher
                                    </span>Fire Protection</li>
                                <li class="col-md-6"><span class="material-symbols-outlined">
                                        detector_smoke
                                    </span>Smoke Detectors</li>
                                <li class="col-md-6"><span class="material-symbols-outlined">
                                        sanitizer
                                    </span>Disinfections and Sterilizations</li>
                            </ul>
                        </div>


                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="card1">
                    <h5 class="card-title pt-5"><b>$ 250 / night</b></h5>
                    <hr>
                    <p class="card-text">Breakfast Included</p>
                    <p class="card-text">Sq metres: 30</p>
                    <p class="card-text">In Room Dining </p>
                    <p class="card-text">Balcony Access </p>
                    <p class="card-text">Wifi Connectivity </p>
                    <p class="card-text">Laundry Services </p>
                    <p class="card-text">Concierge Services </p>
                    <button>Reserve Now</button>
                </div>
            </div>
        </div>



    </div>

    </div>