<div class="create-form-page-container">
    <div class="create-form-page-wrapper">
        {{> _h1styled headerTitle=headerTitle}}

        <form>
            <div class="form-wrap">
                <div class="card form-card-create">
                    <div class="card-body">
                       
                    </div>
                </div>
                <div class="card form-card-create">
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>