<div class="breadcrumbs">
    <div class="breadcrumb" id="start">
        <div class="circle"><img src="/img/icons/general/account.svg" alt=""></div>
        <p class="breadcrumb-text-1">Guest Info</p>
    </div>
    <div class="progress"></div>
    <div class="breadcrumb" id="middle">
        <div class="circle"><img src="/img/icons/general/payment.svg" alt=""></div>
        <p class="breadcrumb-text-2">Payment Info</p>
    </div>
    <div class="progress"></div>
    <div class="breadcrumb" id="end">
        <div class="circle"><img src="/img/icons/general/review.svg" alt=""></div>
        <p class="breadcrumb-text-3">Review</p>
    </div>
</div>