<div class="pa-left-container">
    <div class="card pa-side-card">
        <div class="pa-card-body">
            <h3>Your Selection</h3>
            <hr class="pa-hr">
            <div class="room-summary-section row">
                <div class="col room-image-style">
                    <p>Image</p>
                </div>
                <div class="col-8">
                    <p>Deluxe Room</p>
                    <p>Breakfast Included</p>
                    <ul>
                        <li>1 Queen</li>
                        <li>1 Bathroom</li>
                        <li>1 Balcony</li>
                    </ul>
                </div>
            </div>
            <hr class="pa-hr">
            <h3>Booking summary</h3>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Check-in</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Check-out</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Guests</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Nightly Rate</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Total Nights</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Extra Person Fees</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Id like to use my loyalty points
                </label>
            </div>
            <hr class="pa-hr">
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Subtotal</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">taxes & Fees</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <hr class="pa-hr">
                  <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Total Charges</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <hr>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Extra Person Fees</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <hr class="pa-hr">
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Payment Upon Checkin</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Charges Due Now</p>
                    <p class="col pa-right">B</p>
                </div>
            </div>
            <div >
                <div class="pa-left-right-container"> 
                                    <p >You will be charged a 30% reservation deposit fee of $179.60 at the time of booking and will be charged the remaining balance of $419.06 (including tax recovery charges and service fees) at the time of check-in. If you choose to change or cancel this booking please refer to our policy below.

Policy Description</p>
                </div>
            </div>
        </div>
    </div>
</div>