<div class="container-fluid footer py-3">
    <div class="row">
        <div class="col-md-4">
            <div class="brand-footer">
                <img class="logo foter-logo" src="/img/placeholder/hotel_california_logo.png" alt="Hotel california">
                <span class="footer-brand-text ps-2 brand-name"> Hotel <br> California</span>

            </div>
            <div>
                <p class="footer-detail">
                    Hotel California: A blend of timeless elegance and heartfelt hospitality in paradise. Experience
                    luxuary, tranquility, and unforgetable service.Your heaven awaits.
                </p>
            </div>

        </div>
        <div class="col-md-8">
            <div class="row">

                <div class="col-md-4">
                    <p class="footer-title">COMPANY</p>
                    <ul class="">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/about#members">Members</a></li>
                        {{#unless userType}}
                            <li><a href="/contactUs">Contact Us</a></li>
                        {{/unless}}
                        {{#if userType}}
                            {{#equal userType "Guest"}}
                                <li><a href="/contactUs">Contact Us</a></li>
                            {{/equal}}
                            {{#notEqual userType "Guest"}}
                                <li><a href="/dashboard/staff/inquiries">Inbox</a></li>
                            {{/notEqual}}
                        {{/if}}
                        {{!-- <li><a href="/devlinks">Devlinks (TODO: REMOVE)</a></li> --}}
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="footer-title ">HELP CENTER</p>
                    <ul>
                        <li><a href="/roomOffers">Find a room</a></li>
                        <li><a href="/restaurant">Restaurant</a></li>
                        {{#unless userType}}
                            <li><a href="/portal">Staff</a></li>
                        {{/unless}}
                        <li><a href="/faqsPolicies">F.A.Q.s & Policies</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="footer-title">CONTACT INFO</p>
                    <div>
                        <p><strong>Phone:</strong> 1234567895</p>
                        <p><strong>Email:</strong> company@gmail.com</p>
                        <p><strong>Location:</strong> 100 Smart street, LA, USA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-5">
        <p>&copy; 2024 group3 | All rights reserved</p>
        <p>Created with love by group 3</p>
    </div>
</div>
{{#if scripts}}
    {{#each scripts}}
        <script src="{{this.src}}"></script>
    {{/each}}
{{/if}}
</body>
</html>