<div class="container-fluid footer py-3">
    <div class="row">
        <div class="col-md-4">
            <div class="brand-footer">
                <img class="logo foter-logo" src="/img/placeholder/hotelCalifornia.png" alt="Hotel california">
                <span class="footer-brand-text ps-2 brand-name"> Hotel <br> California</span>

            </div>
            <div>
                <p class="footer-detail">
                    Hotel California: A blend of timeless elegance and heartfelt hospitality in paradise. Experience
                    luxuary, tranquility, and unforgetable service.Your heaven awaits.
                </p>
            </div>

        </div>
        <div class="col-md-8">
            <div class="row">

                <div class="col-md-4">
                    <p class="footer-title">COMPANY</p>
                    <div class="">
                        <p>About Us</p>
                        <p>Members</p>
                        <p>Contact Us</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="footer-title ">HELP CENTER</p>
                    <div>
                        <p>Find a room</p>
                        <p>Restaurant</p>
                        <p>Staff</p>
                        <p>FAQs</p>
                        <p>Popcies</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="footer-title">CONTACT INFO</p>
                    <div>
                        <p><strong>Phone:</strong> 1234567895</p>
                        <p><strong>Email:</strong> company@gmail.com</p>
                        <p><strong>Location:</strong> 100 Smart street, LA, USA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-5">
        <p>&copy; 2024 group3 | All rights reserved</p>
        <p>Created with love by group 3</p>
    </div>
</div>

</body>
</html>