
/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.card{
    padding: 2em;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.login-link {
    font-size: 12px;
    color: #007bff;
    text-decoration: underline;
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.verification-note {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}

.next-button {
    background-color: #f57a0e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #0056b3;
}

.form-holder {
    display: flex;
    flex-direction: column;
    /* justify-content: left;
    align-items: flex-start; */
    text-align: left;
    min-height: 120vh;
    min-width: 50vh;
}

