/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.card{
    padding: 2em;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.login-link {
    font-size: 12px;
    color: #007bff;
    text-decoration: underline;
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.verification-note {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}

.next-button {
    background-color: #f57a0e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    color: #ffffff;
    background-color: #f57a0e;
    border-color: #f57a0e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.btn-primary:hover {
    opacity: 0.6;
    background-color: #f57a0e;
    border-color: #f57a0e
}


.next-button:hover {
    background-color: #0056b3;
}

.form-holder {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 120vh;
    min-width: 50vh;
}

.create-acc-page-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.subheader-container{
    padding: 1em 0.5em;
}

.create-acc-p-subheader-style{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

h1.form-header-style{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.35em;
}

.createAccCenter {
    max-width: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-acc-center-container{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 992px) {
    .create-acc-page-container{
        display: flex;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 600px) {
    h1.form-header-style{
        font-size: 1em;
    }
}

/* =============================== */
/* ===== RESERVATION SECTION ===== */
/* =============================== */


.breadCrumbs-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.breadCrumbs-container {
    width: 70%;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .breadcrumb .circle {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #9A9A9A; /* Default background */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .progress {
    flex-grow: 1;
    height: 0.5em;
    background-color: #9A9A9A; /* Default background */
    margin: 0;
    transition: background-color 0.3s; /* Smooth transition for background color */
    transform: translateY(-0.6em) scalex(1.01);
    border-radius: 0;
  }
  
  .breadcrumb-text-1{
    position: absolute;
    transform: translateY(3.25em)  translateX(-1em);
  }

  .breadcrumb-text-2{
    position: absolute;
    transform: translateY(3.25em)  translateX(-1.65em);
  }

  .breadcrumb-text-3{
    position: absolute;
    transform: translateY(3.25em)  translateX(-0.3em);
  }
  /* Highlighted state */
  .highlighted {
    background-color: #FEAC5E !important; /* Highlight color */
  }
  
  .circle.highlighted {
    color: white; /* Change text color for better visibility */
  }

@media screen and (max-width: 992px) {


}

@media screen and (max-width: 600px) {
    .breadCrumbs-container {
        width: 90%;
    }
}



/* =============================== */
/* ===== GUEST INFO SECTION ===== */
/* =============================== */