<div>
    <p>Hi {{firstName}}</p>

    <p>It seems like you've tried to register with us again. However, your account is currently disabled. 
        If you believe this is an error or wish to reactivate your account, please contact our support team at <a href="{{url}}">this page</a>. We're here to help!</p>
    
    <p>If you didn't try to register, please ignore this email!</p>

    <p>Best regards,</p>
    
    <p>Hotel California Team</p>
</div>