<div>
    <p>Hi {{firstName}}</p>

    <p>Forgot your password?</p>

    <p>click on <a href="{{url}}">this link</a> to reset it </p>
    <p>If you didn't forget your password, please ignore this email!</p>
</div>