<div>
    <p>Hi {{firstName}}</p>

    <p>We noticed that you're attempting to register a new account. Good news! You already have an active account with us. Please login through <a href="{{url}}/">Hotel California website</a> and click on the Login option at the dropdown menu on the upper right</p>

    <p>If you've forgotten your password, you can reset it by visiting <a href="{{url}}/forgotpassword">this link</a>. If you need any assistance, feel free to contact us at <a href="{{url}}/contactus">this page</a></p>
    
    <p>If you didn't try to register, please ignore this email!</p>

    <p>Best regards,</p>
    
    <p>Hotel California Team</p>
</div>