<div>
    <p>Hi {{firstName}}</p>

    <p>It appears that you've already registered successfully and you've requested to resend the activation code for your account.</p>
    
    <p>Your activation code is {{options.activationCode}}</p>

    <p>You can also click on <a href="{{url}}">this link</a> to activate your account.</p>

    <p>If you encounter any issues activating your account, please don't hesitate to reach out to us at <a href="{{options.contactURL}}">this page</a></p>
    
    <p>If you request for the activation code, please ignore this email!</p>

    <p>Best regards,</p>
    
    <p>Hotel California Team</p>
</div>