<div>
    <p>Hi {{firstName}}</p>

    <p>Welcome to the Hotel California Website!</p>

    <p>Your activation code is {{options.activationCode}}</p>

    <p>You can also click on <a href="{{url}}">this link</a> to activate your account.</p>
</div>