<div class="dashboard-page-container">
    <div class="dashboard-page-wrapper">
        <div class="dashbaord-page-content-container">
            {{> _accountInfoSideBar img=sidebarData.img firstName=sidebarData.firstName lastName=sidebarData.lastName employeeType=sidebarData.employeeType 
                emailAddress=sidebarData.emailAddress address=sidebarData.address mobileNumber=sidebarData.mobileNumber}}
            <div>
       
            </div>
        </div>
    </div>
</div>