<div class="dashboard-page-container">
    <div class="dashboard-page-wrapper">
        <div class="dashboard-page-content-container">
            {{> _accountInfoSideBar img=sidebarData.img firstName=sidebarData.firstName lastName=sidebarData.lastName employeeType=sidebarData.employeeType 
                emailAddress=sidebarData.emailAddress address=sidebarData.address mobileNumber=sidebarData.mobileNumber urlPassword="/dashboard/staff/changePassword"
                urlPhoto="/dashboard/staff/updatePhoto"
                }}
            <div class="dashboard-main-section-container">
                <div class="dashboard-main-top">
                    <div>
                        <div>
                            <h2 class="dash-h2-style">Hello, {{sidebarData.firstName}} {{sidebarData.lastName}}</h2>
                        </div>
                        <a href="/dashboard/staff/edit"><button type="button" class="btn btn-outline-primary">Edit Profile</button></a>
                    </div>
                    <div>
                        <h3 class="dash-h3-style">Today is Feb 23, 2024</h3>
                    </div>
                </div>
                {{#if sidebarData.employeeType}}
                    {{#equal sidebarData.employeeType "staff"}}
                        <div class="dashboard-main-mid">
                            <p class="dash-p-mid-style">3 Guests are checking in today</p>
                            <a class="dash-a-mid-style" href="/dashboard/staff/checkin">VIEW LIST</a>
                        </div>
                    {{/equal}}
                    {{#equal sidebarData.employeeType "manager"}}
                        <div>
                            <p>Manager Functions</p>
                        </div>
                    {{/equal}}
                    {{#equal sidebarData.employeeType "admin"}}
                        <div>
                            <p>Admin Functions</p>
                        </div>
                    {{/equal}}
                {{/if}}
                <hr>
                <div class="dashboard-main-bottom">
                     {{> _accountButtonList buttonData=buttonData}}
                </div>
            </div>
        </div>
    </div>
</div>