<div class="view-reservation-page-container">
    <div class="view-reservation-page-wrapper">
        {{> _h1styled headerTitle="Guests Checking In"}}
       
        {{> _search searchOptionsList=searchOptionsList searchControlUrl=searchControlUrl placeholder="Search for Guests Checking in Today"}}
        
        {{> _tableDisplay tableOptions=tableOptions results=results}}
    </div>
</div>
<script>

</script>