<div class="view-reservation-page-container">
    <div class="view-reservation-page-wrapper">
        {{> _h1styled headerTitle=headerTitle}}

        {{> _search searchOptionsList=searchOptionsList searchControlUrl=searchControlUrl placeholder=placeholder }}
        
        {{> _tableDisplay tableOptions=tableOptions results=results}}
    </div>
</div>
