<div class="view-reservation-page-container">
    <div class="view-reservation-page-wrapper">
        {{> _h1styled headerTitle="Find a Reservation"}}

        {{> _search searchOptionsList=searchOptionsList searchControlUrl=searchControlUrl placeholder="Search for a Reservation" }}
        
        {{> _tableDisplay tableOptions=tableOptions results=results}}
    </div>
</div>
<script>

</script>