

<div class="container-fluid pb-4 inquiry-screen-wrapper">

    <div class="inquiry-screen-container">
        {{> _h1styled headerTitle="View Inquiries"}}
        <div class="inquiry-header">
            <button class="btn btn-primary" disabled> All Inquiries</button>
            <button class="btn btn-primary">Pending Response</button>
            <button class="btn btn-primary"> My Responses</button>
        </div>
        <div class="inquiry-message-box-container">
            <ul class="inquiry-ul-style">
                <li class="inquiry-message-tab"><div class="circle"></div><button ><p>Inquiry Title</p><p>Date</p></button></li>
                <li class="inquiry-message-tab active"><div class="circle opacity"></div><button ><p>Inquiry Title</p><p>Date</p></button></li>
                <li class="inquiry-message-tab"><div class="circle opacity"></div><button ><p>Inquiry Title</p><p>Date</p></button></li>
            </ul>
            <div class="inquiry-message-screen">
                <div class="inquiry-message-group">
                    <div class="inquiry-message">Message 1</div>
                    <div class="inquiry-reply">Reply 1</div>
                </div>
                <div class="inquiry-message-group">
                    <div class="inquiry-message">Message 1</div>
                    <div class="inquiry-reply">Reply 1</div>
                </div>
                <div class="inquiry-message-group">
                <div class="inquiry-message-group">
                    <div class="inquiry-message">Message 1</div>
                </div>
                <div class="inquiry-message-last">
                    <div>Your Inquiry was received and is  awating response fom our hotel staff.

                    For urgent inquiries. Please call front desk at 1234567890.</div>
                </div>
            </div>
        </div>
    </div>

</div>