<div class="view-reservation-page-container">
    <div class="view-reservation-page-wrapper">
        {{> _h1styled headerTitle="Find a Reservation"}}
        <div class="view-reservation-search-bar-container">
            <form class="view-reservation-search-bar" action="/dashboard/staff/viewReservations" method="get">
                <div class="form-group search-field-container">
                    <input type="text" class="form-control search-field" id="search" name="reservationNumber" placeholder="Search for a reservation" required>
                </div>
                <button type="submit" class="search-submit-button">
                    <img src="/img/icons/search/search_icon.svg" alt="search icon">
                </button>
            </form>
        </div>
        <div class="view-reservation-filter-container">
            <p class="search-filter-header">Search by:</p>
            <div class="view-reservation-filter-options-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="filter" id="reservationNumber" value="reservationNumber" checked>
                    <label class="form-check-label check-style" for="reservationNumber">
                        Reservation Number
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="filter" id="lastName" value="lastName">
                    <label class="form-check-label check-style" for="lastName">
                        Last Name
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="filter" id="date" value="date">
                    <label class="form-check-label check-style" for="date">
                        Date
                    </label>
                </div>
            </div>
        </div>
        <div class="reservation-results-view-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Reservation #</th>
                        <th scope="col">Check-in</th>
                        <th scope="col">Check-out</th>
                        <th scope="col">Guest Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ASD75HK</th>
                        <td>Sep 7, 2024 Fri</td>
                        <td>Sep 10, 2024 Tuesday</td>
                        <td>Biles, Gray</td>
                        <td>Upcoming</td>
                        <td>Modify</td>
                    </tr>
                    <tr>
                        <th scope="row">DF4HTS</th>
                        <td>Sep 7, 2024 Fri</td>
                        <td>Sep 10, 2024 Tuesday</td>
                        <td>Biles, Gray</td>
                        <td>Upcoming</td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <th scope="row">SDF4HN</th>
                        <td>Sep 7, 2024 Fri</td>
                        <td>Sep 10, 2024 Tuesday</td>
                        <td>Biles, Gray</td>
                        <td>Upcoming</td>
                        <td>Modify</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

</script>