

<!DOCTYPE html>
<html lang="en">

<head>

  <style>
    /* Custom CSS for rounded borders */
    .content-contain {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .profile-pic {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }

    .update_card {
      background-color: #ffecc8;
      width: fit-content;
      

    }

    .user-info {
      margin-top: 20px;
    }

    .user-info p {
      margin-bottom: 5px;
    }

    .email-confirmed {
      color: green;
    }

    .form-content {
      padding-right: 5%;
    }

    .cancel-btn {
      border: 1px solid #ccc;
      color: #333;
    }

    .save-btn {
      background-color: #e45c31;
      color: white;
      border-radius: 10px;
    }

    button {
      margin-top: 5%;
    }
  </style>
</head>

<body>

  <div class="container content-contain">
    <div class="row">
      <!-- User Profile Section -->
      <div class="col-md-4 card update_card align-items-center">
        <img src="../../../assets/images/me.jpeg" class="img-thumbnail profile-pic">
        <div class="user-info  text-center">
          <p><strong>Hotel Guest:</strong></p>
          <p>John Doe</p>
          <p>Address</p>
          <p>City, Postal Code, Country</p>
          <p>499-999-9999</p>
          <p class="email-confirmed">✓ Email Confirmed</p>

        </div>
      </div>

      <!-- Update Password Form -->

      <div class="col-md-8 form-content ">
        <div class="px-3">
          <div class="w-auto">
          <strong class="fs-1 ">Update Password</strong>
          <hr class="mx-auto" style="border-color: #e45c31;">
        </div>

        <form>
          <div class="form-group">
            <label for="inputPassword5" class="form-label">Old Password *</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby=""
              required>

          </div>
          <div class="form-group">
            <label for="inputPassword5" class="form-label">New Password *</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
              required>

          </div>
          <div class="form-group">
            <label for="inputPassword5" class="form-label">Verify New Password *</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
              required>

          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-dark me-md-2" type="button">Cancel</button>
            <button class="btn save-btn" type="button">Save</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>