.view-reservation-page-container{
    min-height: 80vh;
    display: flex;
}

.view-reservation-page-wrapper {
    padding: 3em 4em;
    flex: 1;
}

/* Override  */
.view-reservation-filter-container{
    max-width: 50em !important;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {
    .view-reservation-page-wrapper {
        padding: 1em;
    }

   
}