.create-form-page-container {
    min-height: 80vh;
    display: flex;
}

.create-form-page-wrapper{
    padding: 3em 4em;
    flex: 1;
}

.create-form-page-wrapper-override{
    padding: 1em;
    flex: 1;
}

.form-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1em;
}

.form-card-create {
    flex: 1;
}

.form-group {
    margin-bottom: 1em;
}

.amenity-item {
    min-width: 6em;
    margin-left: 1em;
}

.amenity-group {
    height: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: rgb(227, 230, 231);
}

.section-style {
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Slight border radius */
    padding: 20px; /* Optional: Adds some space inside the section */
    margin: 20px 0; /* Optional: Adds some space outside the section */
}

.view-reservation-page-wrapper {
    max-width: 65em;
    overflow-x: scroll;
}

.view-reservation-search-bar-container{
    border: 2px solid #E3E3E3;
    border-radius: 10px;
    padding: 0;
    display: flex;
}

.form-control.search-field {
    transform: translateY(0.5em);
}

.search-submit-button {
    transform: translateY(0.5em);
}

#search:active{
    border: 0;
}

.reservation-results-view-container {
    height: 30em !important;
}

.header-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .form-wrap {
        flex-direction: column;
    }

    .view-reservation-page-wrapper {
        max-width: 45em;
        overflow-x: scroll;
    }

    .create-form-page-wrapper{
        padding: 1em;
        flex: 1;
    }
}

@media screen and (max-width: 600px) {
    .create-form-page-container {
        padding: 1em;
    }

    .view-reservation-page-wrapper {
        max-width: 18em;
        padding: 0;
    }

    .create-form-page-wrapper-override{
        padding: 0em;
        flex: 1;
    }

}